<h1>show all posts of user</h1>
<div>
  <div class='user'>
    <div><img src=@user.Photo></div>
    <h2>User <%= @user.name%></h2>
    <p>Number of posts: <%= @user.posts_counter%></p>
  </div>

  <div>
    <% @posts_list.each do |post| %>
    <ul class='posts'>
      <li class='post'>
        <%= link_to "/users/#{@user.id}/posts/#{post.id}", :action => 'go' do %>
        <h3>Post # <%= post.id %></h3>
        <%end%>
        <p> Text: <%= post.text %></p>
        <div class='commentslikes'>
          Comments: <%= post.comments_counter %>
          Likes: <%= post.likes_counter %>
        </div>
      </li>
    </ul>
    <ul>
      <li>
        <% post.recent_5_comments.each do |comment| %>
        <p> Username: <%= comment.text %></p>
        <%end%>
      </li>
    </ul>
    <%end%>
  </div>
</div>